<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico">
  </head>
  {% assign year = page.year | default: site.current_year %}
  {% assign year_config = site.data.years[year].config %}
  {% assign year_data = site.data.years[year] %}
  {% if page.year %}
    {% assign year_base = page.year | append: "/" %}
  {% else %}
    {% assign year_base = "" %}
  {% endif %}
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}{{ year_base }}">{{ year_config.title | default: site.github.repository_name }}</a></h1>
        
        {% if year_config.logo %}
          <img src="{{year_config.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>
            {{ year_config.acronym }}<br />
            {{ year_config.workshop_date }}<br />
        </p>
        <blockquote>
            <p>
                Held in conjunction with <a href="https://{{ year }}.euro-par.org/">Euro-Par {{ year }}</a><br />
                {{year_config.conf_city}}
            </p>
        </blockquote>

        <ul>
          <li><strong><a href="{{ "/" | absolute_url }}{{ year_base }}committee">Committee</a></strong></li>
          <li><strong><a href="{{ "/" | absolute_url }}{{ year_base }}call-for-papers">Call for papers</a></strong></li>
          {%- if year_data.papers -%}
          <li><strong><a href="{{ "/" | absolute_url }}{{ year_base }}papers">Accepted papers</a></strong></li>
          {%- endif -%}
        </ul>
        <ul>
          <li><strong><a href="{{ "/" | absolute_url }}{{ year_base }}program">Program</a></strong></li>
          {%- if year_data.panel -%}
          <li><strong><a href="{{ "/" | absolute_url }}{{ year_base }}panel">Panel</a></strong></li>
          {%- endif -%}
          {%- if year_data.keynote -%}
          <li><strong><a href="{{ "/" | absolute_url }}{{ year_base }}keynote">Keynote</a></strong></li>
          {%- endif -%}
          {%- if year_data.invited_talk -%}
          <li><strong><a href="{{ "/" | absolute_url }}{{ year_base }}invited-talk">Invited Talk</a></strong></li>
          {%- endif -%}
        </ul>
        <img src="{{ "/assets/springer_lncs.png" | relative_url }}" />
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        {% if year_config.lanl_number %}
        <p><small>{{ year_config.lanl_number }}</small></p>
        {% endif %}
      </header>
      <section>
      
      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
